<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
                
</head>
<body>
    <div class="container">
        
        <div class="header-content">
            <h1 class="header">Thank you for using Pixelesque!</h1>
        </div>
        
        <div class="upload-form text-center">
            {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                    {% for message in messages %}  
                        <p><span class="error">&#10005;</span> {{ message }}</p><br> 
                    {% endfor %}  
                {% endif %}  
            {% endwith %}  
            <form  action="/upload" method="POST" enctype="multipart/form-data" >
                <p>Please select an image to pixelize</p><br>
                <input type="file" class="image" name="image">
                <input type="submit" value="Pixelize" class="sbutton">
            </form>
        </div>


        <div class="images flex">
            {% for image in all_images %}
            <div class="image">
                <h2>{{ image.id }}</h2>
                <p>{{ image.image }}</p>
                <img class="oneImage" src="../static/images/{{ image.id }}-{{ image.image }}" alt="images/{{ image.id }}-{{ image.image }}">
                <a href="/delete/{{ image.id }}/{{ image.image }}"><button>Delete</button></a>
            </div>
            {% endfor %}
        </div>


    </div>
</body>
</html>