<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
                
</head>
<body>
    <div class="container">
        <div class="header-content">
            <h1 class="header">Thank you for using Pixelesque!</h1>
        </div>
        
        <div class="content flex justify-center">
            <form  action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
                <p>Please select an image to pixelize</p><br>
                <input type="file" class="image" name="image">
                <input type="submit" value="Pixelize" class="sbutton">
            </form>
            
        </div>
    </div>
</body>
</html>